# SPDX-FileCopyrightText: 2024 The Naja authors <https://github.com/najaeda/naja/blob/main/AUTHORS>
#
# SPDX-License-Identifier: CC0-1.0

README.md
Dockerfile
AUTHORS
LICENSE
LICENSES/
regress/
build/
install/
docs/
.gitignore
.github/
.reuse/
.vscode
lauch.json
settings.json