# SPDX-FileCopyrightText: 2023 The Naja authors <https://github.com/najaeda/naja/blob/main/AUTHORS>
#
# SPDX-License-Identifier: CC0-1.0

*~
*.swp
*.DS_Store
build
build-*
install
venv
.vscode
__pycache__
src/apps/naja_edit/examples/**/*.log
src/apps/naja_edit/examples/**/*.png
src/apps/naja_edit/examples/adder/*.v
src/apps/naja_edit/examples/vexriscv/*.v
src/apps/naja_edit/examples/arm_core/*.v
src/apps/naja_edit/examples/arm_core/*_snl
src/apps/naja_edit/examples/arm_core/*.gold
src/apps/naja_edit/examples/arm_core/*.error
src/apps/naja_edit/examples/arm_core/*.list
src/apps/naja_edit/examples/*/abc.history
src/apps/naja_edit/examples/abc.history
src/apps/naja_edit/examples/addaccu/addaccu_*.v
src/apps/naja_edit/examples/addaccu/*.txt
src/apps/naja_edit/examples/addaccu/*_snl
src/apps/naja_edit/examples/test_args/top_out.v
src/apps/naja_edit/examples/adder/verilator.done
