[submodule "test/googletest"]
	path = thirdparty/googletest
	url = https://github.com/google/googletest
[submodule "thirdparty/naja-verilog"]
	path = thirdparty/naja-verilog
	url = https://github.com/najaeda/naja-verilog
[submodule "thirdparty/cpptrace"]
	path = thirdparty/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
