# gcovr configuration
# https://gcovr.com/en/stable/configuration.html

exclude = thirdparty/
exclude = test/
exclude = build/
exclude = src/apps/
exclude = src/app_snippet/
exclude = src/nl/snippets/

gcov-ignore-parse-errors = yes
exclude-pattern-prefix = LCOV_EXCL
exclude-branches-by-pattern = .*
