name: docker-build

on:
  push:
    branches:
      - 'main'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build (load for test)
        uses: docker/build-push-action@v5
        with:
          load: true
          tags: christophealex/naja_edit:latest
      -
        name: Run naja_edit smoke test
        run: docker run --rm christophealex/naja_edit:latest --help
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: christophealex/naja_edit:latest
