# SPDX-FileCopyrightText: 2023 The Naja authors <https://github.com/najaeda/naja/blob/main/AUTHORS>
#
# SPDX-License-Identifier: Apache-2.0

# gcovr configuration
# https://gcovr.com/en/stable/configuration.html

gcov-ignore-parse-errors = all
exclude-pattern-prefix = LCOV
exclude-branches-by-pattern = .*
